<div id="<%= dom_id vendor_profile %>">

	<%= image_tag(@vendor_profile.vendor_avatar, :class => "vendor_avatar_image") if @vendor_profile.vendor_avatar.attached? %>
  <p>
    <strong>Name:</strong>
    <%= vendor_profile.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= vendor_profile.email %>
  </p>

  <p>
    <strong>Phone #:</strong>
    <%= vendor_profile.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= vendor_profile.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= vendor_profile.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= vendor_profile.city %>
  </p>

</div>
