<div id="<%= dom_id dish %>">
  
  <%= image_tag(@dish.main_image, :class => "dish_image") if @dish.main_image.attached? %>
  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= dish.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dish.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dish.description %>
  </p>

</div>
